//$background-color:rgba(202, 201, 190, 0.623);
$background-color:#c9c9c99a;
$color:rgba(32, 32, 32, 0.267); 
$hover:white;
$button:rgb(103, 103, 143);
$other:rgb(52, 52, 153);
$button-color:rgba(2, 2, 2, 0.63);

body{
    font-family: 'Fira Sans', sans-serif;

}